* {
    box-sizing: border-box;
}

body {
    background: #23252C;
    color: #fff;
    font-family: "Inter", sans-serif;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 550px;
}

.business-card {
    width: 338px;
    background: #1A1B21;
    border-radius: 10px;
}

.headshot {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.main {
    padding: 15px 40px;
}

.name {
    font-size: 1.56rem;
    text-align: center;
    line-height: 1.875rem;
    font-weight: 700;
    margin-bottom: 0;
}

.title {
    font-size: 0.8rem;
    text-align: center;
    color: #F3BF99;
    line-height: 0.95rem;
    font-weight: 400;
    margin-top: 4px;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
}

.icon {
    width: 50px;
}

.about {
    margin-top: 40px;
}

h3 {
    line-height: 24px;
    margin-bottom: 0;
}

p {
    font-size: 0.75rem;
    line-height: 0.95rem;
    margin-top: 4px;
}