body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    /* background: #1F2937;
    color: #D5D4D8; */
}

/* Flex Containers */

body,
form {
    display: flex;
}

/* Grid Containers */

.container,
.colors {
    display: grid;
}

/* Layout */

.container {
    flex-direction: column;
    /* align-items: center; */
    width: 550px;
    height: 550px;
    margin: 0  auto;
    background: #1F2937;
    color: #D5D4D8;
}

/* Header */

form {
    justify-content: space-around;
    align-items: center;
    height: 5.625em;
}

select {
    background: inherit;
    color: inherit;
    border-radius: 6px;
    line-height: 1.5em;
    padding: 1em 0.5em;
}

.btn {
    background: #3D4B60;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 1em;

}

/* Colors */

.colors {
    text-align: center;
    grid-template-columns: repeat(5, 2fr);
}

.color1 {
    background: #F55A5A;
}

.color2 {
    background: #2B283A;
}

.color3 {
    background: #FBF3AB;
}

.color4 {
    background: #AAD1B6;
}

.color5 {
    background: #A626D3;
}
