/* 
movie body text color #A5A5A5
unpopulated color pre search #2E2E2F
    empty list/failed search #787878
background #787878
*/

*,
*::before,
*::after {
    box-sizing: border-box;
} 

html,
body {
    margin: 0;
    padding: 0;
    background: #121212;
    color: #fff;
    font-family: "Inter", sans-serif;
}

/* Flex containers */

header,
div.title,
#search-bar {
    display: flex;
}

/* Header */

header {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

div.title {
    background: url('images/header-img.jpg');
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 0 2px #000;
    height: 12.5em;
    width: 100%;
}

h1 {
    font-size: 2.675rem;
    font-weight: 900;
}

h2 a{
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 0.875rem;
    font-weight: 800;
}

div#search-bar {
    justify-content: center;
    margin-top: -0.75em;
    width: 80%;
    max-width: 460px;
}

#search-input {
    background: url('images/magnifying-glass-solid.svg') no-repeat #2E2E2F 4px 7px;
    background-size: 1.25em;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 0.5em;
    padding-left: 1.75em;
    line-height: 1.25em;
    width: 100%;
}

#search-btn {
    background: #4B4B4B;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 0.875em;
    padding: 0 2em;
}

/* Media querries */

@media (min-width: 500px) {
    div.title {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}