body{
   font-size: 16px;
   color: #2b283a;
   font-family: 'Roboto', sans-serif;
}

/* typography */

h1{
   color: whitesmoke;
   font-size: 36px;
}

h2{
   margin-top: 0;
}

h3{
   color: #d0aaff;
   font-size: 20px;
}

body, h1, h3 {
   margin: 0;
}

p{
   line-height: 23px;
}

/* links */

a{
   color: #ef5839;
   text-decoration: underline dotted; 
}

a:hover, a:active{
   color: #d4b44c;
}

/* 
Challenge:
1. Style the 4 button-style links as per 
   the specifications on the slide.
2. Remember to group the selectors
   where possible to keep the CSS DRY.
⚠️ Think: what would make good class
   names for these links? 
*/

.btn{
   padding: 10px 19px;
   border-radius: 4.6px;
   font-weight: 500;
   text-decoration: none;
}

.btn:hover, .btn:active{
   background-color: #f3e885;
   color: #2b283a;
}

.btn-light{
   background-color: whitesmoke;
   color: #5f29a3;
}

.btn-mid{
   background-color: #f0e0ff;
   color: #5f29a3;
}

.btn-dark{
   background-color: #5f29a3;
   color: whitesmoke;
}

/* layout */

header, section, footer{
   padding: 45px 0;
}

header, .section-two {
   background-color: #5f29a3
}

.section-two{
   color: whitesmoke;
}

.container{
   width: 620px;
   margin: 0 auto;
}

.main-image{
   width:100%;
}

.section-two-image-container{
   display: flex;
   justify-content: space-between;
}

.feature-image{
   width: 300px;
   border-radius: 4.6px;
}

footer{
   text-align: center;
   color: #5f29a3;
}