body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.m-0{
    margin: 0;
}

.m-5 {
    margin: 5px;
}

.mt-10{
    margin-top: 10px;
}

mb-5{
    margin-bottom: 5px;
}

.btn {
    background-color: #16DB99;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 22px;
}

header {
    background-image: url("images/burger.jpg");
    background-size: cover;
    background-position-y: center;
    color: whitesmoke;
    font-family: "Pacifico", cursive;
    text-shadow: 0px 0px 4px #222;
    height: 150px;
}

h1 {
    font-size: 32px;
    margin: 0;
}

h2 {
    font-size: 16px;
    margin-top: 10px;
    
}

.title {
    margin-left: 20px;
}

/* Menu section */

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

.text-align {
    text-align: center;
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
}

.item-img {
    height: 60px;
    margin: 30px;
}

.item-details{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 320px;
}

.item-description{
    margin: 7px 0 7px 0;
}

.ingredients {
    font-weight: 400;
    font-size: 12px;
}

.menu-item-name {
    font-size: 22px;
    margin: 15px 0 0 0;
    font-weight: 800;
}

.price {
    font-size: 20px;    
    font-weight: bold;
}

/* Your order */

.your-order {
    margin-top: 30px;
}

.your-order h3 {
    font-size: 29px;
}

.order-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    font-size: 22px;
    font-weight: 800;
}

.remove-btn {
    border: none;
    background-color: inherit;
    display: inline;
    color: #C6C6C6;
    margin: 0 20px;
}

.item-remove {
    display: flex;
    justify-content: start;
    align-items: center;
}

.order-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid #222;
}

.total {
    font-size: 22px;
    font-weight: 800;
}

.complete-order {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 560px;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 4px #595959;
    margin: auto;
    background-color: whitesmoke;
    text-align: center;
}

.pay-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 400px;
}

.pay-input {
    margin: 25px auto;
    height: 70px;
    width: 396px;
    border-radius: 5px;
    font-size: 20px;
    padding: 0;
}

.pay-btn {
    margin: 25px auto;
    height: 70px;
    width: 400px;
}

.order-complete {
    text-align: center;
    background-color: #ECFDF5;
    color: #065F46;
    font-size: 32px;
    padding: 25px 30px;
}

.hidden{
    display: none;
}