*, *::before, *::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 600px;
}

/* =================
    Typography 
   ================= */

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 0.85em;
}

/* =================
    Layout 
   ================= */
body,
.site-header,
.recent-posts,
footer {
    display: grid;
}

body {
    grid-template-columns: 1fr;
    grid-template-areas: 
        "head"
        "main"
        "post"
        "foot";

}

footer {
    grid-area: foot;
}

/* =================
    Site-header
   ================= */

.site-header {
    grid-area: head;
    grid-template-columns: 1.4em 2fr 1fr 1fr 1fr;
    grid-template-areas: 
        "logo name .... home abou";
    padding: 1em;
}

.logo{
    width: 1.4em;
    grid-area: logo;
    margin: 0.5em 0;
}

.name {
    grid-area: name;
}

.home {
    grid-area: home;
    margin: 0.5em 0;
    text-align: right;
}

.about {
    grid-area: abou;
    margin: 0.5em 0;
    text-align: right;
}

h1 {
    font-size: 1rem;
    padding-left: 0.25em;
}

/* ====================
    Main content
   ==================== */

main {
    grid-area: main;
}

.main-content {
    background-image: url(../images/workstaion.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

.main-content h2,
.main-content p {
    margin: 0;
}

.article-date {
    font-size: 0.75rem;
}

.main-content h2 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1em;
    margin: 0.625rem 0;
}

/* =================
    Recent Posts 
   ================= */

.blog-one {
    grid-area: one;
}

.blog-two {
    grid-area: two;
}

.blog-three {
    grid-area: thr;
}

.blog-four {
    grid-area: fou;
}

.blog-five {
    grid-area: fiv;
}

.blog-six {
    grid-area: six;
}

.recent-posts {
    display: grid;
    grid-area: post;
    width: 90%;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "one"
        "two"
        "thr";
}

a {
    text-decoration: none;
}

a:visited{
    color: #0E0E0E;
}

a img {
    width: 100%;
}

.article-title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1em;
    margin: 0.3em 0;
}

.blog-four,
.blog-five,
.blog-six {
    display: none;
}

/* =================
    Footer
   ================= */

footer {
    background-color: #202020;
    color: #D7D7D7;
    height: 110px;
}

p {
    margin: 0;
    font-size: 0.75rem;
}

.my-journal {
    color: #ECECEC;
    font-weight: bold;
}

/* =================
    Media queries 
   ================= */

