*, *::before, *::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 600px;
}

/* =================
    Typography 
   ================= */

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 0.85em;
}

/* =================
    Flex containers
   ================= */

.site-header, 
.container,
nav ul,
.logo,
footer {
    display: flex;
}

/* =================
    Site-header
   ================= */

.site-header .container {
    max-height: 60px;
    width: 100%;
    padding: 0.75em;
    justify-content: space-between;
    align-items: center;
}

.logo {
    align-items: center;
}

.logo img {
    width: 3rem;
    padding: 0 10px;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #0E0E0E;
    padding: 0.85em;
    font-weight: 600;
    font-size: 0.8rem;
}



/* ====================
    Main content
   ==================== */

.main-content {
    background-image: url(../images/workstaion.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 290px;
    flex-direction: column;
    justify-content: end;
    padding: 1em;
}

.main-content h2,
.main-content p {
    margin: 0;
}

.article-date {
    font-size: 0.75rem;
}

.main-content h2 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1em;
    margin: 0.625rem 0;
}

/* =================
    Recent Posts 
   ================= */

.blog-one {
    grid-area: one;
}

.blog-two {
    grid-area: two;
}

.blog-three {
    grid-area: thr;
}

.blog-four {
    grid-area: fou;
}

.blog-five {
    grid-area: fiv;
}

.blog-six {
    grid-area: six;
}

.recent-posts {
    display: grid;
    width: 90%;
    margin: 0 1em;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "one"
        "two"
        "thr";
}

a {
    text-decoration: none;
}

a:visited{
    color: #0E0E0E;
}

a img {
    width: 100%;
}

.article-title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1em;
    margin: 0.3em 0;
}

.blog-four,
.blog-five,
.blog-six {
    display: none;
}

/* =================
    Footer
   ================= */

footer {
    background-color: #202020;
    color: #D7D7D7;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 110px;
}

p {
    margin: 0;
    font-size: 0.75rem;
}

.my-journal {
    color: #ECECEC;
    font-weight: bold;
}

/* =================
    Media queries 
   ================= */

